.land {
  fill: #cccccc;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transform: translate(0, -421);
  cursor: pointer;
}

.land:hover {
  fill: #3b5cdb;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
}

.tooltiptext {
  font-size: 9px;
  width: auto;
  background-color: black;
  color: #fff;
  content: '';
  position: absolute;
  text-align: center;
  border-radius: 6px;
  padding: 5px 2px 5px 2px;
  position: absolute;
  z-index: 1;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
